.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px 60px; 
    margin: 0;
    box-shadow: 0 2px 3px 1px #000;
    align-items: center;
    background: white;
    width: 91vw;
}
.logo{
    width: 100px;
    height: 80px;
}
.adminPanel{
    font-size: 30px;
}
@media(max-width: 800px) {
    .navbar{
        padding: 15px 30x;
    }
    .logo{
        width:150px;
    }
    .adminPanel{
        font-size: 15px;
    }
}